<%- include("header") %>

    <h2>Edición de Comanda</h2>
    <form action="/comandaUpdate" method="post">
        <label for="usuario">Usuario </label>
        <select id="id_usuario" name="id_usuario">
            <% usuarios.forEach((usuario, index)=>{ %>
                <option value="<%= usuario.id %>" selected='<%= comanda.id_usuarios %>'>
                    <%= usuario.nombre %>
                </option>
                <% }) %>
        </select>
        <label for="producto">Producto </label>
        <select id="id_producto" name="id_producto">
            <% productos.forEach((producto, index)=>{ %>
                <option value="<%= producto.id %>" selected='<%= comanda.id_productos %>'>
                    <%= producto.nom %>
                </option>
                <% }) %>
        </select>
        <button type="submit">Enviar</button>
    </form>
    <%- include("footer") %>