<%- include("header") %>

    <h2>Edición de Comanda</h2>
    <form action="/comandaUpdate" method="post">
        <label for="usuario">Usuario </label>
        <select id="id_usuarios" name="id_usuarios">
            <% usuarios.forEach((usuario, index)=>{ %>
                <option value="<%= usuario.id %>" <%= usuario.id == comanda.id_usuarios ? 'selected="selected"' : '' %>>
                    <%= usuario.nombre %>
                </option>
                <% }) %>
        </select>
        <label for="producto">Producto </label>
        <select id="id_productos" name="id_productos">
            <% productos.forEach((producto, index)=>{ %>
                <option value="<%= producto.id %>" <%= producto.id == comanda.id_productos ? 'selected="selected"' : '' %>>
                    <%= producto.nom %>
                </option>
                <% }) %>
        </select>
        <button type="submit">Enviar</button>
    </form>
    <%- include("footer") %>